<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MaxCoach</title>
  <!-- LINK ALLO STYLE CSS -->
  <link rel="stylesheet" href="dist/style.css">
  <!-- /LINK ALLO STYLE CSS -->
  <!-- CDN VUE JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- /CDN VUE JS -->
  <!-- CDN GOOGLE-FONT: MONTSERRAT -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
  <!-- /CDN GOOGLE-FONT: MONTSERRAT -->
  <!-- CDN FONTAWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <!-- /CDN FONTAWESOME -->
  <!-- FAVICON -->
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-180x180.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-270x270.png">
  <!-- FAVICON -->
</head>
<body>
  <!-- Root di VUE JS -->
  <div id="root">

    <header>
      <!-- container ristretto per navbar -->
      <div class="container container-wide">
        <!-- sezione con navbar display flex - link stampati con ciclo vfor -->
        <nav id="main-nav" class="pv-3">
          <!-- sezione navbar con link -->
          <div class="link-area">
            <!-- elenco dei link stampati con v-for -->
            <ul>
              <li class="mr-5" v-for=" link in mainNavLinks"><a target="_blank" :href="link.url">{{link.label}}<i class="ml-1 fas fa-chevron-down"></i></a></li>
            </ul>
            <!-- /elenco dei link stampati con v-for -->
          </div>
          <!-- /sezione navbar con link -->
          <!-- sezione navbar con logo -->
          <div class="logo-area">
            <div class="logo-box">
              <img class="nav-logo" src="img/dark-logo.png" alt="immagine logo aziendale">
            </div>
          </div>
          <!-- /sezione navbar con logo -->
          <!-- sezione navbar con carrello, account e searchbar -->
          <div class="customer-area">
            <!-- elenco dei link customer area-->
            <ul>
              <li class="mr-2"><a href="#"><i id="cart" class=" ml-2 fas fa-shopping-cart"></i></a></li>
              <li v-for="link in customerAreaLinks" class="mr-2"><a target="_blank" :href="link.url"><i class="ml-2" :class="link.label"></i></a></li>
            </ul>
            <!-- /elenco dei link customer area -->
            <!-- campo di input della searchbar connessa con v-model a una variabile js con VUE -->
            <input id="nav-searchbar" v-model="searchInput" @keydown.enter="mySearch" class="ml-2 pv-2 pl-2 pr-7" type="text" placeholder="Search..">
            <label class="ml-5" for="nav-searchbar"><i class="fas fa-search"></i></label>
            <!-- /campo di input della searchbar connessa con v-model a una variabile js con VUE -->
          </div>
          <!-- /sezione navbar con carrello, account e searchbar -->
        </nav>
        <!-- /sezione con navbar display flex - link stampati con ciclo vfor -->
      </div>
      <!-- container ristretto per navbar -->

      <!-- sezione con Hero -->
      <div class="hero">
        <!-- area con titolazione e button dell hero -->
        <div class="hero-box">
          <h3 class="hero-subtitle">Commence business</h3>
          <h1 class="hero-title">Distant Mentoring Program</h1>
          <button id="hero-button" class="mt-8 alt">Download free guidebook<span class="ml-1">&rarr;</span></button>
        </div>
        <!-- /area con titolazione e button dell hero -->
        <!-- sidebar dell'Hero - posizionata in modo Assoluto -->
        <nav id="sidebar">
          <!-- lista con link della sidebar -->
          <ul>
            <li class="mb-3 mt-3"><a href="#"><i class="fas fa-ruler-combined"></i></a></li>
            <li class="mb-3"> <a href="#"><i class="far fa-life-ring"></i></a></li>
            <li class="mb-3"> <a href="#"><i class="fas fa-book"></i></a></li>
            <li class="mb-3"> <a href="#"><i class="fas fa-shopping-cart"></i></a></li>
          </ul>
          <!-- /lista con link della sidebar  -->
        </nav>
        <!-- /sidebar dell'Hero - posizionata in modo Assoluto -->
      </div>
      <!-- /sezione con Hero -->
    </header>

    <main>
      <!-- container di riferimento del Main -->
      <div class="container">
        <!-- prima sezione di tipo ripetibile box testo + box immagini -->
        <section class="sect-box pv-15 mt-12" id="learn">
          <!-- box del testo -->
          <div class="text-box">
            <h4 class="sect-intro mb-5">EVERYTHING IN <strong>MAXCOACH</strong></h4>
            <h2 class="sect-title mb-5">Learn about our <span>Work Culture</span> at MaxCoach</h2>
            <p class="sect-content mb-5">Spend some time to visit our website or head office and discover our current courses, enrollment procedure, and registration deadline. We're opening new classes every beginning of each month.</p>
            <p class="sect-link">Have questions? <a href="">Get free guide &rarr;</a></p>
          </div>
          <!-- box del testo -->
          <!-- box con immagini -->
          <div class="img-box">
            <img src="img/stock-full-hd-10-ohki1ayywq3cqutettrncduujpoaorifqu4relt2ts.jpg" alt="prima immagine del sito">
          </div>
          <!-- /box con immagini -->
        </section>
        <!-- /prima sezione di tipo ripetibile box testo + box immagini -->
        <!-- sezione che interrompe il flusso della pagina - ripetibile -->
        <div class="breaker" id="customer-data">
          <div class="container container-narrow">
            <div class="breker-box">
              <h2>129+</h2>
              <h4 class="mt-3">ENROLLED LEARNERS</h4>
            </div>
            <div class="breker-box">
              <h2>80</h2>
              <h4 class="mt-3">FINISHED SESSIONS</h4>
            </div>
            <div class="breker-box">
              <h2>4%</h2>
              <h4 class="mt-3">SATISFACTION RATE</h4>
            </div>
          </div>
        </div>
        <!-- /sezione che interrompe il flusso della pagina - ripetibile -->
        <!--seconda sezione di tipo ripetibile box testo + box immagini -->
        <section class="sect-box pv-15 mt-12" id="upgrade">
          <!-- box del testo -->
          <div class="text-box mt-5">
            <h4 class="sect-intro mb-5">HOW WE WORK</h4>
            <h2 class="sect-title mb-5">Upgrade your Skills <span>Upgrade Your Life</span></h2>
            <p class="sect-content mb-5">Opening up more opportunities in front of you to get the ticket to more enjoyable door in life. Getting equipped with new skills for new sets of insights into your career. MaxCoach accompany learners in every stage of learning.</p>
            <a class="sect-link" href="">Download free guidebook &rarr;</a>
          </div>
          <!-- box del testo -->
          <!-- box con immagini -->
          <div class="img-box">
            <img src="img/stock-full-hd-11-670x450.jpg" alt="prima immagine del sito">
          </div>
          <!-- /box con immagini -->
        </section>
        <!-- /seconda sezione di tipo ripetibile box testo + box immagini -->
        <!-- prima sezione di tipo ripetibile con 3 immagini centrate -->
        <section class="triplet pv-15 mt-12" id="courses">
          <h4 class="mb-4">JOIN MAXCOACH AT BEST</h4>
          <h2 class="mb-8">Latest Online <span>Courses</span></h2>
          <div class="triplet-row">
            <div class="triplet-box mr-4">
              <div class="img-box">
                <img src="img/course-02-480x298.jpg" alt="">
                <div class="flag">
                  <div class="pop-up">FREE</div>
                </div>
              </div>
              <div class="info-box plat-5">
                <h3 class="mt-3">$40.00</h3>
                <p class="mt-3">Learning to Write as a Professional Author</p>
                <div class="icon-row mt-5">
                  <div class="icon-box">
                    <i class="far fa-file-alt mr-1"></i>
                    <h5 class="mr-5">20 Lessons</h5>
                  </div>
                  <div class="icon-box">
                    <i class="far fa-user mr-1"></i>
                    <h5>50 Students</h5>
                  </div>
                  </div>
              </div>
            </div>
            <div class="triplet-box mr-4">
              <div class="img-box">
                <img src="img/stock-full-hd-03-480x298.jpg" alt="">
                <div class="flag">
                  <div class="pop-up">FREE</div>
                </div>
              </div>
              <div class="info-box plat-5">
                <h3 class="mt-3">$0.00</h3>
                <p class="mt-3">Customer-centric Info-Tech Strategies</p>
                <div class="icon-row mt-5">
                  <div class="icon-box">
                    <i class="far fa-file-alt mr-1"></i>
                    <h5 class="mr-5">24 Lessons</h5>
                  </div>
                  <div class="icon-box">
                    <i class="far fa-user mr-1"></i>
                    <h5>769 Students</h5>
                  </div>
                  </div>
              </div>
            </div>
            <div class="triplet-box mr-4">
              <div class="img-box">
                <img src="img/stock-full-hd-04-480x298.jpg" alt="">
                <div class="flag">
                  <div class="pop-up">FREE</div>
                </div>
              </div>
              <div class="info-box plat-5">
                <h3 class="mt-3">$19.00</h3>
                <p class="mt-3">Open Programming Courses for Everyone: Python</p>
                <div class="icon-row mt-5">
                  <div class="icon-box">
                    <i class="far fa-file-alt mr-1"></i>
                    <h5 class="mr-5">20 Lessons</h5>
                  </div>
                  <div class="icon-box">
                    <i class="far fa-user mr-1"></i>
                    <h5>50 Students</h5>
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /prima sezione di tipo ripetibile con 3 immagini centrate -->
        <!-- sezione che interrompe il flusso della pagina - ripetibile -->
        <div class="breaker pv-15 mt-12" id="bullets">
          <div class="container container-narrow">
            <h2>BREAKER DI ESEMPIO</h2>
          </div>
        </div>
        <!-- /sezione che interrompe il flusso della pagina - ripetibile -->
        <!--terza sezione di tipo ripetibile box testo + box immagini -->
        <section class="sect-box pv-15 mt-12" id="why">
          <!-- box del testo -->
          <div class="text-box">
            <h4 class="sect-intro mb-5">HOW WE WORK</h4>
            <h2 class="sect-title mb-5">Upgrade your Skills <span>Upgrade your Life</span></h2>
            <p class="sect-content mb-5">Opening up more opportunities in front of you to got the ticket to more enjoyable door in life. Getting equipped with new skills for new sets of insights into your career. MaxCoach accompany learners in every stage of learning.</p>
            <a class="sect-link" href="">Download free guidebook &rarr;</a>
          </div>
          <!-- box del testo -->
          <!-- box con immagini -->
          <div class="img-box">
            <img src="img/stock-full-hd-10-ohki1ayywq3cqutettrncduujpoaorifqu4relt2ts.jpg" alt="prima immagine del sito">
          </div>
          <!-- /box con immagini -->
        </section>
        <!-- /terza sezione di tipo ripetibile box testo + box immagini -->
        <!--quarta sezione di tipo ripetibile box testo + box immagini -->
        <section class="sect-box pv-15 mt-12" id="transform">
          <!-- box del testo -->
          <div class="text-box">
            <h4 class="sect-intro mb-5">HOW WE WORK</h4>
            <h2 class="sect-title mb-5">Upgrade your Skills <span>Upgrade your Life</span></h2>
            <p class="sect-content mb-5">Opening up more opportunities in front of you to got the ticket to more enjoyable door in life. Getting equipped with new skills for new sets of insights into your career. MaxCoach accompany learners in every stage of learning.</p>
            <a class="sect-link" href="">Download free guidebook &rarr;</a>
          </div>
          <!-- box del testo -->
          <!-- box con immagini -->
          <div class="img-box">
            <img src="img/stock-full-hd-10-ohki1ayywq3cqutettrncduujpoaorifqu4relt2ts.jpg" alt="prima immagine del sito">
          </div>
          <!-- /box con immagini -->
        </section>
        <!-- /quarta sezione di tipo ripetibile box testo + box immagini -->
        <!-- seconda sezione di tipo ripetibile con 3 immagini centrate -->
        <section class="triplet pv-15 mt-12" id="blogs">
          <h4 class="mb-4">JOIN MAXCOACH AT BEST</h4>
          <h2 class="mb-8">Latest Online <span>Courses</span></h2>
          <div class="triplet-row">
            <div class="triplet-box mr-4">
              <div class="img-box">
                <img src="img/course-02-480x298.jpg" alt="">
                <div class="flag">
                  <div class="pop-up">FREE</div>
                </div>
              </div>
              <div class="info-box plat-5">
                <h3 class="mt-3">$40.00</h3>
                <p class="mt-3">Learning to Write as a Professional Author</p>
                <div class="icon-row mt-5">
                  <div class="icon-box">
                    <i class="far fa-file-alt mr-1"></i>
                    <h5 class="mr-5">20 Lessons</h5>
                  </div>
                  <div class="icon-box">
                    <i class="far fa-user mr-1"></i>
                    <h5>50 Students</h5>
                  </div>
                  </div>
              </div>
            </div>
            <div class="triplet-box mr-4">
              <div class="img-box">
                <img src="img/stock-full-hd-03-480x298.jpg" alt="">
                <div class="flag">
                  <div class="pop-up">FREE</div>
                </div>
              </div>
              <div class="info-box plat-5">
                <h3 class="mt-3">$0.00</h3>
                <p class="mt-3">Customer-centric Info-Tech Strategies</p>
                <div class="icon-row mt-5">
                  <div class="icon-box">
                    <i class="far fa-file-alt mr-1"></i>
                    <h5 class="mr-5">24 Lessons</h5>
                  </div>
                  <div class="icon-box">
                    <i class="far fa-user mr-1"></i>
                    <h5>769 Students</h5>
                  </div>
                  </div>
              </div>
            </div>
            <div class="triplet-box mr-4">
              <div class="img-box">
                <img src="img/stock-full-hd-04-480x298.jpg" alt="">
                <div class="flag">
                  <div class="pop-up">FREE</div>
                </div>
              </div>
              <div class="info-box plat-5">
                <h3 class="mt-3">$19.00</h3>
                <p class="mt-3">Open Programming Courses for Everyone: Python</p>
                <div class="icon-row mt-5">
                  <div class="icon-box">
                    <i class="far fa-file-alt mr-1"></i>
                    <h5 class="mr-5">20 Lessons</h5>
                  </div>
                  <div class="icon-box">
                    <i class="far fa-user mr-1"></i>
                    <h5>50 Students</h5>
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /seconda sezione di tipo ripetibile con 3 immagini centrate -->
        <!-- sezione newsletter -->
        <section id="newsletters">
        </section>
        <!-- /sezione newsletter -->
      </div>
      <!-- /container di riferimento del Main -->
    </main>

    <footer>

    </footer>

  </div>
  <!-- /Root di VUE JS -->

<!-- MAIN SCRIPT JS -->
<script src="script/script.js" charset="utf-8"></script>
<!-- /MAIN SCRIPT JS -->
</body>
</html>
