<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MaxCoach</title>
  <!-- LINK ALLO STYLE CSS -->
  <link rel="stylesheet" href="dist/style.css">
  <!-- /LINK ALLO STYLE CSS -->
  <!-- CDN VUE JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- /CDN VUE JS -->
  <!-- CDN GOOGLE-FONT: MONTSERRAT -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
  <!-- /CDN GOOGLE-FONT: MONTSERRAT -->
  <!-- CDN FONTAWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <!-- /CDN FONTAWESOME -->
  <!-- FAVICON -->
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-180x180.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-270x270.png">
  <!-- FAVICON -->
</head>
<body>

  <!-- Root di VUE JS -->
  <div id="root">

    <header>
      <!-- container ristretto per navbar -->
      <div class="container container-wide">
        <!-- sezione con navbar display flex - link stampati con ciclo vfor -->
        <nav id="main-nav" class="pv-3">
          <!-- sezione navbar con link -->
          <div class="link-area">
            <!-- elenco dei link stampati con v-for -->
            <ul>
              <li class="mr-5" v-for=" link in mainNavLinks"><a target="_blank" :href="link.url">{{link.label}}<i class="ml-1 fas fa-chevron-down"></i></a></li>
            </ul>
            <!-- /elenco dei link stampati con v-for -->
          </div>
          <!-- /sezione navbar con link -->
          <!-- sezione navbar con logo -->
          <div class="logo-area">
            <div class="logo-box">
              <img class="nav-logo" src="img/dark-logo.png" alt="immagine logo aziendale">
            </div>
          </div>
          <!-- /sezione navbar con logo -->
          <!-- sezione navbar con carrello, account e searchbar -->
          <div class="customer-area">
            <!-- elenco dei link customer area-->
            <ul>
              <li class="mr-2"><a href="#"><i id="cart" class=" ml-2 fas fa-shopping-cart"></i></a></li>
              <li v-for="link in customerAreaLinks" class="mr-2"><a target="_blank" :href="link.url"><i class="ml-2" :class="link.label"></i></a></li>
            </ul>
            <!-- /elenco dei link customer area -->
            <!-- campo di input della searchbar connessa con v-model a una variabile js con VUE -->
            <input id="nav-searchbar" v-model="searchInput" @keydown.enter="mySearch" class="ml-2 pv-2 pl-2 pr-7" type="text" placeholder="Search..">
            <label class="ml-5 bar-label" for="nav-searchbar"><i class="fas fa-search"></i></label>
            <!-- /campo di input della searchbar connessa con v-model a una variabile js con VUE -->
          </div>
          <!-- /sezione navbar con carrello, account e searchbar -->
        </nav>
        <!-- /sezione con navbar display flex - link stampati con ciclo vfor -->
      </div>
      <!-- container ristretto per navbar -->

      <!-- sezione con Hero -->
      <div class="hero">
        <!-- area con titolazione e button dell hero -->
        <div class="hero-box">
          <h3 class="hero-subtitle">Commence business</h3>
          <h1 class="hero-title">Distant Mentoring Program</h1>
          <button id="hero-button" class="mt-8 alt">Download free guidebook<span class="ml-1">&rarr;</span></button>
        </div>
        <!-- /area con titolazione e button dell hero -->
        <!-- sidebar dell'Hero - posizionata in modo Assoluto -->
        <nav id="sidebar">
          <!-- lista con link della sidebar -->
          <ul>
            <li class="mb-3 mt-3"><a href="#"><i class="fas fa-ruler-combined"></i></a></li>
            <li class="mb-3"> <a href="#"><i class="far fa-life-ring"></i></a></li>
            <li class="mb-3"> <a href="#"><i class="fas fa-book"></i></a></li>
            <li class="mb-3"> <a href="#"><i class="fas fa-shopping-cart"></i></a></li>
          </ul>
          <!-- /lista con link della sidebar  -->
        </nav>
        <!-- /sidebar dell'Hero - posizionata in modo Assoluto -->
      </div>
      <!-- /sezione con Hero -->
    </header>

    <main>
      <!-- container di riferimento del Main -->
      <div class="container">
        <!-- prima sezione di tipo ripetibile box testo + box immagini -->
        <section class="sect-box pv-15 mt-12" id="learn">
          <!-- box del testo -->
          <div class="text-box">
            <h4 class="sect-intro mb-5">EVERYTHING IN <strong>MAXCOACH</strong></h4>
            <h2 class="sect-title mb-5">Learn about our <span>Work Culture</span> at MaxCoach</h2>
            <p class="sect-content mb-5">Spend some time to visit our website or head office and discover our current courses, enrollment procedure, and registration deadline. We're opening new classes every beginning of each month.</p>
            <p class="sect-link">Have questions? <a href="">Get free guide &rarr;</a></p>
          </div>
          <!-- box del testo -->
          <!-- box con immagini -->
          <div class="img-box">
            <img src="img/stock-full-hd-10-ohki1ayywq3cqutettrncduujpoaorifqu4relt2ts.jpg" alt="prima immagine del sito">
          </div>
          <!-- /box con immagini -->
        </section>
        <!-- /prima sezione di tipo ripetibile box testo + box immagini -->
        <!-- sezione che interrompe il flusso della pagina - ripetibile -->
        <div class="breaker" id="customer-data">
          <div class="container container-narrow">
            <div class="breaker-box">
              <h2>129+</h2>
              <h4 class="mt-3">ENROLLED LEARNERS</h4>
            </div>
            <div class="breaker-box">
              <h2>80</h2>
              <h4 class="mt-3">FINISHED SESSIONS</h4>
            </div>
            <div class="breaker-box">
              <h2>4%</h2>
              <h4 class="mt-3">SATISFACTION RATE</h4>
            </div>
          </div>
        </div>
        <!-- /sezione che interrompe il flusso della pagina - ripetibile -->
        <!--seconda sezione di tipo ripetibile box testo + box immagini -->
        <section class="sect-box pb-15 pt-10 mt-8" id="upgrade">
          <!-- box del testo -->
          <div class="text-box mt-5">
            <h4 class="sect-intro mb-5">HOW WE WORK</h4>
            <h2 class="sect-title mb-5">Upgrade your Skills <span>Upgrade Your Life</span></h2>
            <p class="sect-content mb-5">Opening up more opportunities in front of you to get the ticket to more enjoyable door in life. Getting equipped with new skills for new sets of insights into your career. MaxCoach accompany learners in every stage of learning.</p>
            <a class="sect-link" href="">Download free guidebook &rarr;</a>
          </div>
          <!-- box del testo -->
          <!-- box con immagini -->
          <div class="img-box">
            <img src="img/stock-full-hd-11-670x450.jpg" alt="prima immagine del sito">
          </div>
          <!-- /box con immagini -->
        </section>
        <!-- /seconda sezione di tipo ripetibile box testo + box immagini -->
      </div>
      <!-- /Container di riferimento del Main -->

      <!-- prima sezione di tipo ripetibile con 3 immagini centrate -->
      <section class="triplet pt-10 pb-10" id="courses">
        <div class="container">
          <h4 class="mb-4">JOIN MAXCOACH AT BEST</h4>
          <h2 class="mb-8">Latest Online <span>Courses</span></h2>
          <div class="triplet-row">
            <div class="triplet-box mr-4 pb-2">
              <div class="img-box">
                <img src="img/course-02-480x298.jpg" alt="">
                <div class="flag">
                  <div class="pop-up">FREE</div>
                </div>
              </div>
              <div class="info-box plat-5">
                <h3 class="mt-3">$40.00</h3>
                <p class="mt-3">Learning to Write as a Professional Author</p>
                <div class="icon-row mt-5">
                  <div class="icon-box">
                    <i class="far fa-file-alt mr-1"></i>
                    <h5 class="mr-5">20 Lessons</h5>
                  </div>
                  <div class="icon-box">
                    <i class="far fa-user mr-1"></i>
                    <h5>50 Students</h5>
                  </div>
                  </div>
              </div>
            </div>
            <div class="triplet-box mr-4 pb-2">
              <div class="img-box">
                <img src="img/stock-full-hd-03-480x298.jpg" alt="">
                <div class="flag">
                  <div class="pop-up">FREE</div>
                </div>
              </div>
              <div class="info-box plat-5">
                <h3 class="mt-3">$0.00</h3>
                <p class="mt-3">Customer-centric Info-Tech Strategies</p>
                <div class="icon-row mt-5">
                  <div class="icon-box">
                    <i class="far fa-file-alt mr-1"></i>
                    <h5 class="mr-5">24 Lessons</h5>
                  </div>
                  <div class="icon-box">
                    <i class="far fa-user mr-1"></i>
                    <h5>769 Students</h5>
                  </div>
                  </div>
              </div>
            </div>
            <div class="triplet-box mr-4 pb-2">
              <div class="img-box">
                <img src="img/stock-full-hd-04-480x298.jpg" alt="">
                <div class="flag">
                  <div class="pop-up">FREE</div>
                </div>
              </div>
              <div class="info-box plat-5">
                <h3 class="mt-3">$19.00</h3>
                <p class="mt-3">Open Programming Courses for Everyone: Python</p>
                <div class="icon-row mt-5">
                  <div class="icon-box">
                    <i class="far fa-file-alt mr-1"></i>
                    <h5 class="mr-5">17 Lessons</h5>
                  </div>
                  <div class="icon-box">
                    <i class="far fa-user mr-1"></i>
                    <h5>62 Students</h5>
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /prima sezione di tipo ripetibile con 3 immagini centrate -->
      <!-- sezione che interrompe il flusso della pagina - ripetibile -->
      <!-- sezione che interrompe il flusso della pagina - ripetibile -->
      <div class="breaker pv-2" id="bullets">
        <div class="container container-narrow">
          <!-- bullets -->
          <ul>
            <li><a href="#"><i class="fas fa-circle mlat-4"></i></a></li>
            <li><a href="#"><i class="fas fa-circle mlat-4"></i></a></li>
            <li><a href="#"><i class="fas fa-circle mlat-4"></i></a></li>
            <li><a href="#"><i class="fas fa-circle mlat-4"></i></a></li>
            <li><a href="#"><i class="fas fa-circle mlat-4"></i></a></li>
          </ul>
          <!-- /bullets -->
          <div class="text-box mt-5 pt-5 pb-20">
            <p>Control your personal preference settings to get notified about appropriate courses. <a href="#">View all courses &rarr;</a></p>
          </div>
        </div>
      </div>
      <!-- /sezione che interrompe il flusso della pagina - ripetibile -->

      <!-- Container di riferimento del Main -->
      <div class="container">
        <!--terza sezione di tipo ripetibile box testo + box immagini -->
        <section class="sect-box pt-15 mt-12" id="testimonials">
          <!-- box del testo -->
          <div class="text-box">
            <h4 class="sect-intro mb-5">TESTIMONIALS</h4>
            <h2 class="sect-title mb-5">Why Do People <span>*Hearts*</span> Us?</h2>
            <p class="sect-content mb-5">Seeking for verbals of our service quality? Find them here. Everything is transparent and straightforward for your sense of justification. </p>
            <a class="sect-link" href="">View all &rarr;</a>
          </div>
          <!-- box del testo -->
          <!-- box personalizzato per la sezione con div annidati -->
          <div class="img-box mt-3 pv-5 plat-6">
            <h4 class="mb-2">The MaxCoach team works really hard to ensure high level of quality</h4>
            <p class="mb-20">I am happy with their arrangement of lessons and subjects.</p>
            <div class="avatar-box mt-29 pt-20">
              <div class="avatar-img-box mr-4">
                <img src="img/testimonial-avata-02.jpg" alt="volto del mittente lettera d'esempio">
              </div>
              <div class="avatar-info">
                <h4 class="avatar-name">MINA HOLLACE</h4>
                <p class="avatar-profession"><small>/ FreeLancer</small></p>
              </div>
            </div>
          </div>
          <!-- box personalizzato per la sezione con div annidati -->
          <!-- pop-up posizionato in modo assoluto -->
          <div class="front-letter">
            <h4 class="mb-3">Professional team of specialists and passionate mentors at reach</h4>
            <p class="mb-6">I need to get a certification for English proficiency and MaxCoach is my besy choice. Their tutors are smart and professional when dealing with students.</p>
            <div class="avatar-box">
              <div class="avatar-img-box mr-4">
                <img src="img/testimonial-avata-01.jpg" alt="volto del mittente lettera d'esempio">
              </div>
              <div class="avatar-info">
                <h4 class="avatar-name">MADLEY PONDOR</h4>
                <p class="avatar-profession"><small>/ IT Specialist</small></p>
              </div>
            </div>
          </div>
          <!-- /pop-up posizionato in modo assoluto -->
        </section>
        <!-- /terza sezione di tipo ripetibile box testo + box immagini -->
        <!--quarta sezione di tipo ripetibile box testo + box immagini -->
        <section class="sect-box pb-15 " id="transform">
          <!-- box del testo -->
          <div class="text-box mt-6">
            <h4 class="sect-intro mb-5">EVERYTHING IN <strong>MAXCOACH</strong></h4>
              <h2 class="sect-title mb-5">We're Here To <span>Transform</span> You!</h2>
            <p class="sect-content mb-5">As learners, people can enjoy great companionship from MaxCoach mentors and educators. We can help you develop and grow at your best.</p>
            <button class="plat-10"><a class="sect-link" href="#">Get free guide</a></button>
          </div>
          <!-- box del testo -->
          <!-- box con immagini -->
          <div class="img-box">
            <img src="img/home-3-team-image-300x278.png" alt="prima immagine del sito">
          </div>
          <!-- /box con immagini -->
        </section>
        <!-- /quarta sezione di tipo ripetibile box testo + box immagini -->
      </div>
      <!-- /container di riferimento del Main   -->

      <!-- seconda sezione di tipo ripetibile con 3 immagini centrate -->
      <section class="triplet pv-15 mt-10" id="blogs">
        <!-- container interno -->
        <div class="container">
          <h4 class="mb-4">READ FOR MORE JOYMENT</h4>
          <h2 class="mb-8">Latest From <span>Our Blogs</span></h2>
          <div class="triplet-row">
            <div class="triplet-box mr-4">
              <div class="img-box">
                <img src="img/artist-blog-03-480x325.jpeg" alt="">
              </div>
              <div class="info-box">
                <h4 class="mt-3">ARTIST</h4>
                <p class="mt-3">Brushes Strokes Energize Trees in Paintings</p>
                <div class="icon-row mt-5">
                  <div class="icon-box">
                    <i class= "far fa-calendar mr-1"></i>
                    <h5 class="mr-5">May 15, 2020</h5>
                  </div>
                  <div class="icon-box">
                    <i class="far fa-eye mr-1"></i>
                    <h5>688 Views</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="triplet-box mr-4">
              <div class="img-box">
                <img src="img/artist-blog-01-480x325.jpg" alt="">
              </div>
              <div class="info-box">
                <h4 class="mt-3">ARTIST</h4>
                <p class="mt-3">Pocket-Sized Notebooks Hold Miniature Paintings </p>
                <div class="icon-row mt-5">
                  <div class="icon-box">
                    <i class= "far fa-calendar mr-1"></i>
                    <h5 class="mr-5">May 15, 2020</h5>
                  </div>
                  <div class="icon-box">
                    <i class="far fa-eye mr-1"></i>
                    <h5>603 Views</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="triplet-box mr-4">
              <div class="img-box">
                <img src="img/artist-blog-02-480x325.jpg" alt="">
              </div>
              <div class="info-box">
                <h4 class="mt-3">ARTIST</h4>
                <p class="mt-3">Connection Between Self-Portraits and Identity</p>
                <div class="icon-row mt-5">
                  <div class="icon-box">
                    <i class= "far fa-calendar mr-1"></i>
                    <h5 class="mr-5">May 15, 2020</h5>
                  </div>
                  <div class="icon-box">
                    <i class="far fa-eye mr-1"></i>
                    <h5>397 Views</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- /container interno -->
      </section>
      <!-- /seconda sezione di tipo ripetibile con 3 immagini centrate -->

      <!-- Container di riferimento del Main -->
      <div class="container">
        <!-- sezione newsletter -->
        <section class="breaker pt-10 pb-20"id="newsletters">
            <h2>Subscribe <span>Newsletters</span></h2>
            <div class="newsletter-box mt-4">
              <div class="text-box">
                <p>Enter your email address to register to our newsletter subscription delivered on a regular basis!</p>
                <div class="input-box pt-10">
                  <input id="email-sub" v-model="emailInput" @keydown.enter="myMail" class="ml-2 pv-3 pl-2 pr-21" type="email" placeholder="Enter your email">
                  <label @click="myMail"for="email-sub" class ="side-label">Subscribe</label>
                </div>
              </div>
            </div>
        </section>
        <!-- /sezione newsletter -->
      </div>
      <!-- /container di riferimento del Main -->
    </main>

    <footer>
      <div class="container pt-10 pb-10">
        <!-- sezione informazioni statiche -->
        <div class="left-area">
          <h5 class="mb-2">Address</h5>
          <ul>
            <li class="address mb-2">382 NE 191st St 87394 Miami, FL 33179-3899</li>
            <li class="phone-number mb-2">+1(305) 547-9909(9am - 5pm EST, Monday - Friday)</li>
            <li class="info-mail mb-2">support@maxcoach.com</li>
          </ul>
          <!-- Link dinamici con icone social -->
          <ul class="social-list mt-5">
            <li v-for="link in FooterSocialLink" class="mr-3"><a target="_blank" :href="link.url"><i :class="link.label"></i></a></li>
          </ul>
          <!-- /Link dinamici con icone social -->
        </div>
        <!-- /sezione informazioni statiche -->
        <!-- sezione link dinamici -->
        <div class="right-area">
          <!-- colonna link 1 -->
          <div class="foot-col-1 mr-1">
            <h5 class="mb-2">Explore</h5>
            <ul>
              <li v-for="link in footerLinkExploreA" class="mb-2"><a target="_blank" :href="link.url">{{link.label}}</a></li>
            </ul>
          </div>
          <!-- /colonna link 1 -->
          <!-- colonna link 2 -->
          <div class="foot-col-2 mr-1 mt-5">
            <ul class="mt-2">
              <li v-for="link in footerLinkExploreB" class="mb-2"><a target="_blank" :href="link.url">{{link.label}}</a></li>
            </ul>
          </div>
          <!-- /colonna link 2 -->
          <!-- colonna link 3 -->
          <div class="foot-col-3">
            <h5 class="mb-2">Information</h5>
            <ul>
              <li v-for="link in footerLinkInfo" class="mb-2"><a target="_blank" :href="link.url">{{link.label}}</a></li>
            </ul>
          </div>
          <!-- /colonna link 3 -->
        </div>
        <!-- /sezione informazioni statiche -->
        <!-- copyright area -->
        <div class="center-area mt-10">
          <p>&#169; 2020 MaxCoach. All Rights Reserved</p>
        </div>
        <!-- /copyright area -->
      </div>
    </footer>

    <!-- bottone dinamico per top-page -->
    <div class="top-page">
      <span>&uarr;</span>
    </div>
    <!-- /bottone dinamico per top-page -->

  </div>
  <!-- /Root di VUE JS -->

<!-- MAIN SCRIPT JS -->
<script src="script/script.js" charset="utf-8"></script>
<!-- /MAIN SCRIPT JS -->

</body>
</html>
