
button{

  cursor: pointer;
  border: none;
  background-color: $btnMainColor;
  color: $secondary;
  padding: $btnPdWide;
  border-radius: 8px;

  &.alt{
    background-color: $btnAltColor;
    color: $other;
    font-weight: $fontHeaviest;

    & span{
      font-weight: $fontHeaviest;
      font-size: $fontSmall;
      &:hover{
        color: $secondary;
      }
    }

    &:hover{
      background-color: $btnMainColor;
      color: $secondary;
    }

  }

  &:focus{
    outline: none;
  }
}

// BOTTONE DINAMICO TOP-PAGE

.top-page{
  position: fixed;
  bottom: 30px;
  right: 30px;
  width:50px;
  height: 50px;
  border-radius: 100%;
  background-color: $other;
  color: $secondary;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $fontUltra;



}
