
input{

  &:focus{
    outline: none;
  }

  &#nav-searchbar{
    background-color: $inputPrimary;
    border-radius: 5px;
    border: none;
  }

}

label{
  display: flex;
  align-items: center;
  position: relative;
  left: -50px;
  z-index: 20
}
