
section.sect-box{
  display: flex;
  justify-content: space-between;

  &:nth-of-type(even){
    flex-direction: row-reverse;
  }

  & .text-box{
    flex-basis: 40%;
  }

  & .img-box{
    flex-basis: 45%;

    & img {
      width: 100%;
    }
  }

  // SEZIONI SPECIFICHE

  &#learn{

    //formattazione background e decorazioni personalizzata della section
    background-image: $bgSecond;
    background-position-x: right;
    background-position-y: 20px;
    background-repeat: no-repeat;
    background-size: 140px;

    & .img-box{
      position: relative;

      &::before{
        content: "";
        width: 75px;
        height: 75px;
        background-image: $bgFirst;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 50;
        position: absolute;
        bottom: -17px;
        right: 45px;
      }

      &::after{
        content: "";
        width: 140px;
        height: 140px;
        border-radius: 10px;
        background-image: $bgThird;
        background-size: cover;
        position: absolute;
        top: -75px;
        right: -50px;
      }

    }

    // link e tipografia personalizzata dellA sezione
    a{
      color: $linkAlt;
      font-weight: $fontHeaviest;
    }

  }

  &#upgrade{

    position: relative;
    background-image: $bgSecond;
    background-size: 120px;
    background-position: bottom;
    background-position-x: 475px;
    background-repeat: no-repeat;

    &::before{
      content: "";
      width: 200px;
      height: 200px;
      background-image: $bgFifth;
      background-size: 130px;
      background-repeat: no-repeat;
      position: absolute;
      top: 115px;
      left: -80px;
    }

    & .img-box{
      flex-basis: 60%;
      position: relative;

      //formattazione background e decorazioni personalizzata della section

      &::after{
        content: "";
        width: 70px;
        height: 50px;
        background-image: $bgFourth;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;

      }

    }

    & .text-box{
      flex-basis: 35%;
    }

    // link e tipografia personalizzata dellA sezione

    a{
      color: $linkPrimary;
      font-weight: $fontHeavier;
    }

  }

  &#testimonials{
    position: relative;

    & .img-box{
      border-radius: 3px;
      flex-basis: 40% ;
      position: relative;
      top: -100px;
      left: -60px;

      & .avatar-box{
        display: flex;
        align-items: center;

        & .avatar-img-box{
          flex-basis: 45px;

          & > img{
            width: 100%;
            border-radius: 100%;
            opacity: 0.5;

          }

        }

      }

    }

    & .front-letter{
      position: absolute;
      right: 0;
      background-color: $secondary;
      box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      flex-basis: 50% ;
      width: 500px;
      padding: 30px;



      & .avatar-box{
        display: flex;
        align-items: center;

        & .avatar-img-box{
          flex-basis: 65px;

          & > img{
            width: 100%;
            border-radius: 100%;

          }

        }

      }

      // TIPOGRAFIA DEDICATA ALLA SEZIONE

      & h4{
        color: $primary;
      }

      & p {
        font-style: $fontReg;
        line-height: 22px;
      }



    }

    & h4{
      font-size: $fontMini;
      font-weight: $fontHeavier;
      color: $fourth;
    }

    & p{

      font-size: $fontMini;
      color: $fifth;
    }

    & .text-box{

      & p{
        font-size: $fontSmall;
        color: $third
      }

      & a{
        font-weight: $fontHeavier;
        font-size: $fontSmall;
      }

    }

  }

  &#transform{
    position: relative;

    &::before{
      content: "";
      width: 140px;
      height: 100px;
      background-image: $bgSecond;
      position: absolute;
      bottom: 0px;
      left: 180px;
      z-index: -10;
    }

    &::after{
      content: "";
      width: 120px;
      height: 100px;
      background-image: $bgSixth;
      position: absolute;
      bottom: 20px;
      left: -220px;
      background-repeat: no-repeat;
      background-size: contain;

    }

    & .img-box{
      position: relative;

      &::before{
        content: "";
        width: 140px;
        height: 140px;
        background-image: $bgFifth;
        position: absolute;
        top: 100px;
        left: -95px;
        z-index: -10;
        background-size: contain;
      }

    }

    & .text-box{
      position: relative;

      &::before{
        content: "";
        width: 50px;
        height: 50px;
        position: absolute;
        top: -80px;
        left: -40px;
        background-size: contain;
        background-image: $bgFirst;

      }

    }

    // Bottoni della SEZIONE

    & button {

      & a{
        color: $secondary;
        font-weight: $fontHeavier;
      }

      &:hover > a{
        color: $primary;
      }

    }

  }

}
