

// CONTAINERS

$container: 950px;
$containerWide: 1300px;
$containerNarrow: 600px;

//FONT

// Size
$fontMicro: 8px;
$fontMini: 12px;
$fontSmall: 14px;
$fontReg: 18px;
$fontBig: 26px;
$fontSuper: 36px;
$fontUltra: 45px;
//Weight
$fontLight: 300;
$fontRegular: 400;
$fontHeavy: 500;
$fontHeavier:600;
$fontHeaviest: 700;

// COLORS
$primary: #141423; //Vulcan
$secondary:#FFF;
$third: #6c6c6b; // Storm Dust
$fourth: #b1b1b0; // Delta
$fifth: #8a9391; // GunSmoke
$other: #1fad95; // Mountain Meadow
$popUpColor: #ee7455;

// BUTTONS

// size
$btnSmall: 40px;
$btnReg: 60px;
$btnWide: 90px;
// padding
$btnPdSmall: 3px 5px;
$btnPdReg: 5px 8px;
$btnPdWide: 15px 32px;
//BG Color
$btnMainColor: #1fad95; // Mountain Meadow
$btnAltColor: #FFF;
$btnAltColorDark: #0654ad;
// border:
$btnBrdThin: 1px;
$btnBrdReg: 3px;
$btnBrdThick: 5px;

// LINK & INPUT

//Colors
$linkPrimary: #141423; //Vulcan
$linkPrimaryHover:"";
$linkAlt: #1fad95; // Mountain Meadow
$linkAltHover:"";
$inputPrimary: #e2e2eD; //Quill grey

// Hero IMG

$heroBgImg: url("../img/home-3-hero-bg.jpg");

// Main BackGrounds;

$bgFirst: url("../img/maxcoach-shape-02.png");
$bgSecond: url("../img/maxcoach-shape-07.png");
$bgThird: url("../img/about-us-01-ohkia3qg98rq9vg3s0mn2hkflr1migdqdw370qnegc.jpg");
$bgFourth: url("../img/icon-youtube-play.png");
$bgFifth: url("../img/maxcoach-shape-05.png");
